/* ==========
   HEADER
=========== */
@import url("https://use.typekit.net/iai7est.css");
@import url("https://use.typekit.net/iai7est.css");
.about-header {
  max-width: 700px;
}

.contact-info {
  max-width: 370px;
}

.logo-section h6 {
  max-width: 700px;
}

/* =============
   PAST EVENTS
============== */
.videos {
  background: rgba(236, 82, 66, 0.5);
}

.videos video,
.videos img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos h6 {
  font-size: smaller;
}

.about-text {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Cocogoose Regular";
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.eot);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.svg);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.woff);
}

@font-face {
  font-family: "Cocogoose UltraLight";
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.eot);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.svg);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.woff);
}

@font-face {
  font-family: "Cocogoose SemiLight";
  src: url(../assets/fonts/cocogoose/narrow-semi-light/);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.eot);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.svg);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.woff);
}

.text-lato-reg {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.bg-black {
  background-color: #272a31;
}

.bg-footer {
  background-color: #414246;
}

.bg-orange {
  background-color: #ec5242;
}

.bg-gray {
  background-color: #d3d3d3;
}

.bg-program {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230e1118' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-header-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.bg-program-box {
  background-color: rgba(211, 211, 211, 0.1);
}

/* ==========
   MULTIPLE
=========== */
.tickets-section .fa-square-full,
.lunch-section .fa-square-full {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tickets-section span,
.tickets-section .square-middle,
.lunch-section span,
.lunch-section .square-middle {
  color: #ec5242;
}

/* ==========
   TICKETS
=========== */
.tickets-table {
  max-width: 990px;
  background: repeating-linear-gradient(135deg, #e14b28, #e14b28 5px, #f2f2fa 5px, #f2f2fa 10px, #182e60 10px, #182e60 15px, #f2f2fa 15px, #f2f2fa 20px);
  padding: 10px;
}

.tickets-section table {
  font-size: 10px;
  background-color: white;
}

.tickets-section tr > th {
  width: 60px;
}

/* ==========
   LUNCH
=========== */
.square-section {
  top: -20px;
  left: 45%;
}

.square-section .square-middle {
  font-size: 40px;
}

.square-section .fa-chevron-down {
  left: 12px;
  top: 9px;
}

#menu-collapse button {
  color: #ec5242;
}

/* =============
   MEDIA QUERIES
============== */
@media (min-width: 570px) {
  tr {
    font-size: 15px;
  }
  .square-section {
    top: -20px;
    left: 49%;
  }
}

@font-face {
  font-family: "Cocogoose Regular";
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.eot);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.svg);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrrow-trial-regular/Cocogoose-Narrow-Regular-trial.woff);
}

@font-face {
  font-family: "Cocogoose UltraLight";
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.eot);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.svg);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrow-ultra-light/Cocogoose-Narrow-Ultralight-trial.woff);
}

@font-face {
  font-family: "Cocogoose SemiLight";
  src: url(../assets/fonts/cocogoose/narrow-semi-light/);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.eot);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.svg);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.ttf);
  src: url(../assets/fonts/cocogoose/narrow-semi-light/Cocogoose-Compressed-Semilight-trial.woff);
}

.text-lato-reg {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.bg-black {
  background-color: #272a31;
}

.bg-footer {
  background-color: #414246;
}

.bg-orange {
  background-color: #ec5242;
}

.bg-gray {
  background-color: #d3d3d3;
}

.bg-program {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230e1118' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-header-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.bg-program-box {
  background-color: rgba(211, 211, 211, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ==========
   MULTIPLE
=========== */
.flex-box,
.flex-text,
.btm-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header h1 {
  font-family: "Cocogoose Regular", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

header h1,
header span {
  color: #ec5242;
}

p {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}

nav,
footer {
  font-family: lato, sans-serif;
}

.main-program,
.speakers,
.top-footer,
.header-text,
.logo-section,
.past-events,
.videos,
.tickets-section,
.lunch-section,
.menu-radio,
fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-program h5,
.speakers h5,
footer h5,
.logo-section h4,
.past-events h5,
.tickets-section h1,
.lunch-section h3 {
  border-bottom: 3px solid #ec5242;
}

/* ==========
   HEADER
=========== */
nav li {
  list-style: none;
}

.btm-nav {
  top: 0;
  z-index: 800;
}

header a {
  color: #fff;
  margin-right: 1rem;
}

header a:hover {
  color: #ec5242;
}

header button {
  border: 5px solid #ec5242;
}

header .main-head-text,
header .h1-title {
  max-width: 790px;
}

header span,
header p {
  font-family: "Cocogoose UltraLight", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header h5,
header h2 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #535353;
  font-size: 20px;
}

.top-nav {
  height: 40px;
}

/* ==========
   PROGRAM
=========== */
.main-program {
  font-size: 10px;
  color: #fff;
}

.main-program .program-box {
  padding: 5px 2px 5px 2px;
}

.main-program .program-box:hover {
  cursor: pointer;
  border: 2px solid #fff;
}

.main-program span {
  color: #ec5242;
  font-family: "Cocogoose Regular", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

.main-program .flex-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7px;
}

.main-program i {
  font-size: 35px;
}

.main-program button {
  padding: 20px 40px;
  font-size: 18px;
}

.main-program h6 {
  text-decoration: underline;
}

/* ==========
   SPEAKERS
=========== */
.speakers button {
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
}

.speakers button i {
  color: #ec5242;
}

.speakers h6 {
  color: #ec5242;
  font-family: lato, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.speakers figure h5 {
  font-family: "Cocogoose SemiLight", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.speakers figcaption {
  font-size: 10px;
}

.speakers img {
  width: 80px;
}

/* ==========
   FOOTER
=========== */
.brand-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer p {
  font-size: smaller;
}

/* ==================
   MEDIA QUERIES
=================== */
@media (min-width: 768px) {
  .program-box {
    max-width: 230px;
    margin: 2px;
  }
  header h1 {
    font-size: 50px;
  }
  header h5,
  header h2 {
    font-size: 30px;
  }
  .speakers figcaption {
    font-size: small;
  }
  .speakers img {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .main-page-title {
    padding-left: 100px;
  }
  .program-text {
    font-size: 11px;
  }
}

@media (min-width: 1440px) {
  .speakers figcaption {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */