/* ==========
   HEADER
=========== */

.contact-info {
  max-width: 370px;
}

.logo-section h6 {
  max-width: 700px;
}

.videos {
  background: rgba(236, 82, 66, 0.5);

  video {
    z-index: -1;
    object-fit: cover;
  }

  h6 {
    font-size: smaller;
  }
}

.about-text {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 600;
}
