@import "./variables";
@import "./mixins";

/* ==========
   TICKETS
=========== */

.tickets-section {
  i {
    transform: rotate(-45deg);
  }

  span {
    color: $text-orange;
  }

  table {
    font-size: 10px;
    max-width: 1000px;
  }

  tr > th {
    width: 60px;
  }
}

/* =============
   MEDIA QUERIES
============== */

@media (min-width: 570px) {
  tr {
    font-size: 15px;
  }
}
