@import "./about";
@import "./tickets";
@import "./mixins";
@import "./variables";

// RESET
*,
*::before,
*::after {
  @include reset();
}

/* ==========
   MULTIPLE
=========== */

.flex-box,
.flex-text,
.btm-footer {
  @include flexCenter(center, row);
}

.main-program,
.speakers,
.top-footer,
.header-text,
.logo-section,
.past-events,
.videos {
  @include flexCenter(center, column);
}

.main-program h5,
.speakers h5,
footer h5,
.logo-section h4,
.past-events h5 {
  border-bottom: 3px solid $text-orange;
}

/* ==========
   HEADER
=========== */

header {
  a {
    color: $white;
    margin-right: 1rem;
    &:hover {
      color: $text-orange;
    }
  }

  button {
    border: 5px solid $text-orange;
  }

  .main-head-text {
    max-width: 790px;
  }
}

.top-nav {
  height: 40px;
}

/* ==========
   PROGRAM
=========== */

.main-program {
  font-size: 10px;
  color: $white;

  .program-box {
    padding: 5px 2px 5px 2px;
  }

  .program-box:hover {
    cursor: pointer;
    border: 2px solid $white;
  }

  span {
    color: $text-orange;
  }

  i {
    font-size: 35px;
  }

  button {
    padding: 20px 40px;
    font-size: 18px;
  }

  h6 {
    text-decoration: underline;
  }
}

/* ==========
   SPEAKERS
=========== */

.speakers {
  button {
    box-shadow: 2px 2px;

    i {
      color: $text-orange;
    }
  }
}

/* ==========
   FOOTER
=========== */

.brand-logos {
  @include flexCenter(space-evenly, center);
  flex-wrap: wrap;
}

footer {
  p {
    font-size: smaller;
  }
}

/* ==================
   MEDIA QUERIES
=================== */

@media (min-width: 768px) {
  .program-box {
    max-width: 230px;
    margin: 2px;
  }
}

@media (min-width: 992px) {
  .program-box {
    font-size: 13px;

    span {
      font-size: 14px;
    }
  }
}
